

body a {
    display: flex;
    justify-content: center;
    padding: 5%;
    text-decoration: underline;
}

body button {
    display: flex;
    justify-content: center;
    align-self: center;
}

body p, body h1, body p, h2, li {
    background-color: rgb(226, 226, 118);
    color: rgb(75, 75, 156);
    font-style: bold;
    display: flex;
    justify-content: center;
    font-size: 50px;
    word-wrap: break-word;
    align-items: center;
    padding-right: 5%;
    padding-left: 5%;
}

.scrolling-wrapper {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}

.card{
    display: inline-block;
}

.card a img {
    width: 90%;
    height: 90%;
}

.collapse {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #c97373;
    color: white;
    cursor: pointer;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 32px;
  }

  .descriptions {
    display: none;
    overflow: hidden;
  }

  body {
      background-image: url("https://joshwmay.github.io/comix/public/img/background.PNG");
      background-repeat: repeat;
  }
