
::-webkit-scrollbar {
  width: 0px;
}

body a {
    display: flex;
    justify-content: center;
    padding: 5%;
    text-decoration: underline;
}

body button {
    display: flex;
    justify-content: center;
    align-self: center;
}

h1 {
    margin-left:10%;
    margin-right:10%;
}

body p, body h1, body p, h2, li {
    background-color: rgb(226, 226, 118);
    color: rgb(75, 75, 156);
    font-style: bold;
    display: flex;
    justify-content: center;
    font-size: 50px;
    word-wrap: break-word;
    align-items: center;
    padding-right: 5%;
    padding-left: 5%;
}

.scrolling-wrapper {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}

.card{
    display: inline-block;
}

.card a img {
    width: 90%;
    height: 90%;
}

.collapse {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #c97373;
    color: white;
    cursor: pointer;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 32px;
  }

  .descriptions {
    display: none;
    overflow: hidden;
  }

  body {
      background-image: url("https://joshwmay.github.io/comix/public/img/background.PNG");
      background-repeat: repeat;
  }



  @keyframes move1 {
      0% {
          top: 0;
          right: -20px;
    }
     50% {
          bottom: 0;
          right: 0;
    }
    100% {
          top: 500px;
          right: 500px;
    }
  }

  @-webkit-keyframes move1 {
      0% {
          top: 0;
          right: -20px;
    }
     50% {
          bottom: 0;
          right: 0px;
    }
    100% {
          bottom: 500px;
          right: 500px;
    }
  }

  #centaur {
    animation-timing-function: linear;
    animation-timing-function: ease;
    animation-timing-function: ease-in;
    animation-timing-function: ease-out;
    animation-timing-function: ease-in-out;
    -webkit-animation-timing-function: linear;
    -webkit-animation-timing-function: ease;
    -webkit-animation-timing-function: ease-in;
    -webkit-animation-timing-function: ease-out;
    -webkit-animation-timing-function: ease-in-out;
    filter: grayscale(40%);
    position: relative;
    animation: move1 15s alternate infinite;
    animation-delay: 3s;
    border: none;
}
